{% extends 'base.html.twig' %}
{% block title %}Process Run{% endblock %}
{% block body %}
<h1>Process <small><button class="btn btn-xs" data-clipboard-text="{{ process_uri }}">
                        <i class="glyphicon glyphicon-copy"></i>
                    </button></small>
</h1>
                        
<ul>
    <li>Title: {{ process.label.value }}</li>
    <li>Description: {% if 'description' in process %}{{ process.description.value }}{% endif %}</li>
</ul>

<h2>Process Runs</h2>
 <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Process Run</th>
                <th>Workflow Run</th>
                <th>Start</th>
                <th>End</th>
                <th>Inputs</th>
                <th>Outputs</th>
                
            </tr>
        </thead>
        <tbody>
    {% for row in result %}
        <tr>
            <td>
                <button class="btn btn-xs" data-clipboard-text="{{ row.processRun.value }}">
                    <i class="glyphicon glyphicon-copy"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-xs" data-clipboard-text="{{ row.workflowRun.value }}">
                    <i class="glyphicon glyphicon-copy"></i>
                </button>
                <a href="{{ path("provenance-workflow-run", { 'workflow_run': row.workflowRun.value|url_encode() } )}}"> <i class="glyphicon glyphicon-search"></i></a>
            </td>
            <td>{{ row.startedAtTime.value }}</a></td>
            <td>{{ row.endedAtTime.value }}</td>
            <td>
                <ul>
                {% if inputs|length > 0 %}
                    {% for i in inputs[row.processRun.value] %}
                        <li>{{ i }}</li>
                    {% endfor %}
                {% endif %}
                </ul>
            </td>
            <td>
                <ul>
                {% if outputs and row.processRun in outputs %}
                    {% for i in outputs[row.processRun.value] %}
                        <li>{{ i }}</li>
                    {% endfor %}
                {% endif %}
                </ul>
            </td>
            
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

<h2>Inputs</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
    {% for row in process_inputs %}
        <tr>
            <td>{{ row.label.value }}</a></td>
            <td>{% if 'description' in row %}{{ row.description.value }}{% endif %}</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">No input.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
    
<h2>Outputs</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
    {% for row in process_outputs %}
        <tr>
            <td>{{ row.label.value }}</a></td>
            <td>{% if 'description' in row %}{{ row.description.value }}{% endif %}</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">No output.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}  
{% block javascripts %}   
    <script type="text/javascript">
    </script>
{% endblock %}
{% block stylesheets %}
{% endblock %} 
