{% extends 'base.html.twig' %}
{% block title %}Process Run{% endblock %}
{% block body %}
{{ include('workflow/workflow-info.html.twig', { 'workflow': processRun.process.workflow }) }}

{{ include('workflow/process-info.html.twig', { 'process': processRun.process }) }}
    
<h3>Process Run <small><button class="btn btn-xs copy" data-clipboard-text="{{ processRun.uri }}">
                        <i class="glyphicon glyphicon-copy"></i>
                    </button></small>
</h3>
                        
<ul>
    <li>Title: {{ processRun.label }}</li>
    <li>Time: 
        <br>{{ processRun.startedAtTime|date('H:i:s.v m-d-Y') }} (<strong>Started</strong>)
        <br>{{ processRun.endedAtTime|date('H:i:s.v m-d-Y') }} (<strong>End</strong>)
    </li>
</ul>

<h4>Inputs</h4>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Action</th>
                <th>Input Port</th>
                <th>Port Description</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
    {% for inputRun in inputsRun %}
        <tr>
            <td>
                <button class="btn btn-xs copy" data-clipboard-text="{{ inputRun.uri }}">
                    <i class="glyphicon glyphicon-copy"></i>
                </button>
            </td>
            <td>{{ inputRun.input.label }}</td>
            <td>{{ inputRun.input.description }}</a></td>
            <td>{{ inputRun.content }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">No input.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
    
<h4>Outputs</h4>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Action</th>
                <th>Output Port</th>
                <th>Port Description</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
    {% for outputRun in outputsRun %}
        <tr>
            <td>
                <button class="btn btn-xs copy" data-clipboard-text="{{ outputRun.uri }}">
                    <i class="glyphicon glyphicon-copy"></i>
                </button>
                <a href="{{ path('element-quality-dimension-annotation-list', { 'element_uri':outputRun.uri|url_encode(), 'type':'output_run' }) }}" title="Go to Quality Annotations"><i class="glyphicon glyphicon-pencil"></i></a>
            </td>
            <td>{{ outputRun.output.label }}</td>
            <td>{{ outputRun.output.description }}</a></td>
            <td>{{ outputRun.content }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">No output.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>       
{% endblock %}  
{% block javascripts %}   
{% endblock %}
{% block stylesheets %}
{% endblock %} 
