{% extends 'base.html.twig' %}
{% block title %}Process Run{% endblock %}
{% block body %}
<h1>Process <small><button class="btn btn-xs" data-clipboard-text="{{ process }}">
                        <i class="glyphicon glyphicon-copy"></i>
                    </button></small></h1>

<h2>Process Runs</h2>
 <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Process Run</th>
                <th>Start</th>
                <th>End</th>
                <th>Inputs</th>
                <th>Outputs</th>
                <th>Workflow Run</th>
            </tr>
        </thead>
        <tbody>
    {% for row in result %}
        <tr>
            <td>
                <button class="btn btn-xs" data-clipboard-text="{{ row.processRun }}">
                    <i class="glyphicon glyphicon-copy"></i>
                </button>
            </td>
            <td>{{ row.startedAtTime }}</a></td>
            <td>{{ row.endedAtTime }}</td>
            <td>
                <ul>
                {% if inputs|length > 0 %}
                    {% for i in inputs[row.processRun] %}
                        <li>{{ i }}</li>
                    {% endfor %}
                {% endif %}
                </ul>
            </td>
            <td>
                <ul>
                {% for i in outputs[row.processRun] %}
                    <li>{{ i }}</li>
                {% endfor %}
                </ul>
            </td>
            <td>
                <button class="btn btn-xs" data-clipboard-text="{{ row.workflowRun }}">
                    <i class="glyphicon glyphicon-copy"></i>
                </button>
                <a href="{{ path("provenance-workflow-run", { 'workflow_run': row.workflowRun|url_encode() } )}}"> <i class="glyphicon glyphicon-link"></i></a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

<h2>Inputs / Outputs</h2>

{% endblock %}  
{% block javascripts %}   
    <script type="text/javascript">
    </script>
{% endblock %}
{% block stylesheets %}
{% endblock %} 
