{% extends 'base.html.twig' %}
{% block title %}Workflows Run{% endblock %}
{% block body %}
<h1>Workflows Run</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Action</th>
                <th>Workflow</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
    {% for workflow_run in workflows_run %}
        <tr>
            <td>
                <button class="btn btn-xs copy" data-clipboard-text="{{ workflow_run.uri }}">
                    <i class="glyphicon glyphicon-copy"></i>
                </button>
                <a href="{{ path('provenance-workflow-run', { 'workflow_run_uri': workflow_run.uri|url_encode }) }}"><i class="glyphicon glyphicon-search"></i></a>
                <a href="{{ path('provenance-workflow-run-delete', { 'workflow_run_uri': workflow_run.uri|url_encode }) }}" class="delete"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
            <td><a href="{{ path('provenance-workflow', { 'workflow_uri': workflow_run.workflow.uri|url_encode }) }}">{{ workflow_run.label }}</a></td>
            <td>
                {{ workflow_run.startedAtTime|date('H:i:s.v m-d-Y') }} (<strong>Started</strong>)
                <br>{{ workflow_run.endedAtTime|date('H:i:s.v m-d-Y') }} (<strong>End</strong>)
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}  
{% block javascripts %}            
{% endblock %}
{% block stylesheets %}
{% endblock %} 
