{% extends 'base.html.twig' %}
{% block title %}Workflows Run{% endblock %}
{% block body %}
    <!-- Essa página mostrará:
        1. os processos executados durante essa execução do workflow.
        2. o tempo de execução de cada processo
        3. as entradas e saídas de cada processo
    -->
    <h1>Workflow Run <small><button class="btn btn-xs copy" data-clipboard-text="{{ workflowRun.uri }}">
                    <i class="glyphicon glyphicon-copy"></i>
                    </button></small></h1>
    <h2>Processes Run</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Process</th>
                    <th>Process Run</th>           
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
        {% for processRun in workflowRun.processesRun %}
            <tr>
                <td>
                    <button class="btn btn-xs copy" data-clipboard-text="{{ processRun.process.uri }}">
                        <i class="glyphicon glyphicon-copy"></i>
                    </button>
                    <a href="{{ path('workflow-process', { 'process_uri': processRun.process.uri|url_encode }) }}"><i class="glyphicon glyphicon-search"></i></a></td>
                </td>
                <td>
                    <button class="btn btn-xs copy" data-clipboard-text="{{ processRun.uri }}">
                        <i class="glyphicon glyphicon-copy"></i>
                    </button>
                    <a href="{{ path('provenance-process-run', { 'process_run_uri': processRun.uri|url_encode }) }}">{{ processRun.label }}</a></td>
                <td>
                    {{ processRun.startedAtTime|date('H:i:s.v m-d-Y') }} (<strong>Started</strong>)
                    <br>{{ processRun.endedAtTime|date('H:i:s.v m-d-Y') }} (<strong>End</strong>)
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>

<h2>Inputs</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Input Port</th> 
                    <th>Port Description</th> 
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
        {% for inputRun in inputs %}
            <tr>
                <td>
                    <button class="btn btn-xs copy" data-clipboard-text="{{ inputRun.uri }}">
                        <i class="glyphicon glyphicon-copy"></i>
                    </button>
                </td>
                <td>
                    {{ inputRun.input.label }}
                </td>
                <td>
                    {{ inputRun.input.description }}
                </td>
                <td>
                    {{ inputRun.content }}
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
<h2>Outputs</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Output Port</th>
                    <th>Port Description</th>  
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
        {% for outputRun in outputs %}
            <tr>
                <td>
                    <button class="btn btn-xs copy" data-clipboard-text="{{ outputRun.uri }}">
                        <i class="glyphicon glyphicon-copy"></i>
                    </button>
                </td>
                <td>
                    {{ outputRun.output.label }}
                </td>
                <td>
                    {{ outputRun.output.description }}
                </td>
                <td>
                    {{ outputRun.content }}
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}  
{% block javascripts %}   
<script type="text/javascript">
</script>
{% endblock %}
{% block stylesheets %}
{% endblock %} 
