{% extends 'base.html.twig' %}
{% block title %}Workflows Run{% endblock %}
{% block body %}
<h1>Workflows Run</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Workflow Run</th>
                <th>Workflow</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>
    {% for row in result %}
        <tr>
            <td>
                <button class="btn btn-xs" data-clipboard-text="{{ row.workflowRun.value }}">
                    <i class="glyphicon glyphicon-copy"></i>
                </button>
                <a href="{{ path('provenance-workflow-run', { 'workflow_run': row.workflowRun.value|url_encode }) }}"><i class="glyphicon glyphicon-search"></i></a></td>
            <td><a href="{{ path('provenance-workflow', { 'workflow': row.workflow.value|url_encode }) }}">{{ row.label.value }}</a></td>
            <td>{{ row.startedAtTime.value }}</a></td>
            <td>{{ row.endedAtTime.value }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}  
{% block javascripts %}            
{% endblock %}
{% block stylesheets %}
{% endblock %} 
