{% extends 'base.html.twig' %}
{% block title %}Workflows Run{% endblock %}
{% block body %}
    <h1>Workflow 
        <small>
            <button class="btn btn-xs" data-clipboard-text="{{ workflow }}">
                <i class="glyphicon glyphicon-copy"></i>
            </button>
        </small>
    </h1>
<h2>Processes</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Process</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
    {% for row in result2 %}
        <tr>
            <td>{{ row.label.value }}</td>
            <td><a href="{{ path('provenance-process', { 'process': row.process.value|url_encode }) }}">Details</a></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

<h2>Workflow Runs</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Workflow Run</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>
    {% for row in result1 %}
        <tr>
            <td>
                <button class="btn btn-xs" data-clipboard-text="{{ row.workflowRun.value }}">
                    <i class="glyphicon glyphicon-copy"></i>
                </button>
                <a href="{{ path('provenance-workflow-run', { 'workflow_run': row.workflowRun.value|url_encode }) }}"><i class="glyphicon glyphicon-search"></i></a>
            </td>
            <td>{{ row.startedAtTime.value }}</a></td>
            <td>{{ row.endedAtTime.value }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

<h2>Inputs</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
    {% for row in inputs %}
        <tr>
            <td>{{ row.label.value }}</a></td>
            <td>{% if 'description' in row %}{{ row.description.value }}{% endif %}</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">No input.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
    
<h2>Outputs</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
    {% for row in outputs %}
        <tr>
            <td>{{ row.label.value }}</a></td>
            <td>{% if 'description' in row %}{{ row.description.value }}{% endif %}</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">No output.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}  
{% block javascripts %}            
{% endblock %}
{% block stylesheets %}
{% endblock %} 
