{% extends 'base.html.twig' %}
{% block title %}Workflows Run{% endblock %}
{% block body %}
    <!-- Essa página mostrará:
        1. os processos executados durante essa execução do workflow.
        2. o tempo de execução de cada processo
        3. as entradas e saídas de cada processo
    -->
    <h1>Workflow Run <small><button class="btn btn-xs" data-clipboard-text="{{ workflow_run }}">
                    <i class="glyphicon glyphicon-copy"></i>
                    </button></small></h1>
    <h2>Processes Run</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Process Run</th>
                    <th>Process</th>
                    <th>Inputs</th>
                    <th>Outputs</th>            
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
        {% for row in result %}
            <tr>
                <td>
                    <button class="btn btn-xs" data-clipboard-text="{{ row.processRun.value }}">
                        <i class="glyphicon glyphicon-copy"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-xs" data-clipboard-text="{{ row.process.value }}">
                        <i class="glyphicon glyphicon-copy"></i>
                    </button>
                    <a href="{{ path('provenance-process', { 'process': row.process.value|url_encode }) }}">{{ row.label.value }}</a></td>
                <td></a></td>
                <td></a></td>
                <td>{{ row.startedAtTime.value }}</a></td>
                <td>{{ row.endedAtTime.value }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>

<h2>Inputs / Outputs</h2>
{% endblock %}  
{% block javascripts %}   
<script type="text/javascript">
</script>
{% endblock %}
{% block stylesheets %}
{% endblock %} 
