{% extends 'base.html.twig' %}
{% block title %}Workflows{% endblock %}
{% block body %}
    <h1>Workflows</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
    {% for row in result %}
        <tr>
            <td>{% if 'title' in row %}{{ row.title.value }}{% endif %}</td>
            <td>{% if 'description' in row %}{{ row.description.value }}{% endif %}</td>
            <td>
                <button class="btn btn-xs" data-clipboard-text="{{ row.workflow.value }}">
                    <i class="glyphicon glyphicon-copy"></i>
                </button>
                <a href="{{ path('provenance-workflow', { 'workflow': row.workflow.value|url_encode }) }}">Details</a> 
                | <a href="{{ path('provenance-workflows-run', { 'workflow': row.workflow.value|url_encode }) }}">Runs</a>
                | <a href="{{ path('provenance-workflow-delete', { 'workflow': row.workflow.value|url_encode }) }}">Delete</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">No workflow provenance data.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}  
{% block javascripts %}  

{% endblock %}
{% block stylesheets %}
{% endblock %} 
