{% extends 'base.html.twig' %}
{% block title %}Workflow Runs{% endblock %}
{% block body %}
    <h1>Workflow 
        <small>
            <button class="btn btn-xs" data-clipboard-text="{{ workflow.uri }}">
                <i class="glyphicon glyphicon-copy"></i>
            </button>
        </small>
    </h1>
    <ul>
        <li><strong>Title:</strong> {{ workflow.title }}</li>
        <li><strong>Creator:</strong> {{ workflow.creator }}</li>
        <li><strong>Description:</strong> {{ workflow.description }}</li>
        <li><strong>Label:</strong> {{ workflow.label }}</li>
    </ul>
<h2>Workflow Runs</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Workflow Run</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>
    {% for row in workflow_runs %}
        <tr>
            <td>
                <button class="btn btn-xs" data-clipboard-text="{{ row.workflowRun.value }}">
                    <i class="glyphicon glyphicon-copy"></i>
                </button>
                <a href="{{ path('provenance-workflow-run', { 'workflow_run': row.workflowRun.value|url_encode }) }}"><i class="glyphicon glyphicon-search"></i></a>
            </td>
            <td>{{ row.startedAtTime.value }}</a></td>
            <td>{{ row.endedAtTime.value }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}  
{% block javascripts %}            
{% endblock %}
{% block stylesheets %}
{% endblock %} 
