{% extends 'base.html.twig' %}
{% block title %}Workflow Runs{% endblock %}
{% block body %}
{{ include('workflow/workflow-info.html.twig', { 'workflow': workflow }) }}

<h2>Workflow Runs</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Workflow Run</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
    {% for workflowRun in workflow_runs %}
        <tr>
            <td>
                <button class="btn btn-xs copy" data-clipboard-text="{{ workflowRun.uri }}">
                    <i class="glyphicon glyphicon-copy"></i>
                </button>
                <a href="{{ path('provenance-workflow-run', { 'workflow_run_uri': workflowRun.uri|url_encode }) }}" title="Go to workflow run"><i class="glyphicon glyphicon-search"></i></a>
            </td>
            <td>
                    {{ workflowRun.startedAtTime|date('H:i:s.v m-d-Y') }} (<strong>Started</strong>)
                    <br>{{ workflowRun.endedAtTime|date('H:i:s.v m-d-Y') }} (<strong>End</strong>)
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">No workflow run.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}  
{% block javascripts %}            
{% endblock %}
{% block stylesheets %}
{% endblock %} 
