<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <!--<th style="width:100px">Action</th>-->
                {% if workflow.uri %}
                    <th>Workflow Name</th>
                    <th>Author</th>
                    <th>Workflow Description</th>
                {% elseif process_run.uri %}
                    <th>Process Name</th>
                    <th>Process Description</th>
                    <th>Workflow</th>
                {% else %}
                    <th>Output Data</th>
                    <th>Output Name</th>
                    <th>Output Description</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if workflow.uri %}
                    <td>{{ workflow.title }}</td>
                    <td>{{ workflow.creator }}</td>
                    <td>{{ workflow.description }}</td>
                {% elseif process_run.uri %}
                    <td>{{ process_run.label }}</td>
                    <td>{{ process_run.process.description }}</td>
                    <td>{{ process_run.process.workflow.title }} </td>
                {% else %}
                    <td> {{output_data_run.content}} </td>
                    <td> {{output_data_run.output.label}} </td>
                    <td> {{output_data_run.output.description}} </td>
                {% endif  %}
            </tr>
        </tbody>
    </table>
</div> 