{% extends 'base.html.twig' %}
{% block title %}Edit Quality Metric Annotation{% endblock %}
{% block body %}

<h2>Quality Metric Annotation <small>Edit</small>
        <button class="btn btn-xs copy" data-clipboard-text=""> <i class="glyphicon glyphicon-copy"></i></button>       
</h2>

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
{{ form_errors(form) }}
{{ form_start(form) }}
<div class="panel panel-default">
    <div class="panel-heading">Quality Metric form</div>
    <div class="panel-body">        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.result) }}
                    {{ form_widget(form.result, { 'attr': { 'class':'form-control' } }) }}
                    {{ form_errors(form.result) }}
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">        
        {{ form_widget(form.save) }}
        <a href="{{ path('element-quality-dimension-annotation-list', {'element_uri':element_uri|url_encode(), 'type':type} ) }}" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> Return to Quality Annotation</a>
    </div>    
</div>
{{ form_end(form) }}
    
{% endblock %}  
{% block javascripts %}
{% endblock %}
{% block stylesheets %}
{% endblock %} 