{% extends 'base.html.twig' %}
{% block html_tag %}ng-app="yw-editor-app"{% endblock %}
{% block body_tag %}ng-controller="MainController" style="background: {{ "{{background}}"|raw }}"{% endblock %}
{% block title %}Script Converter{% endblock %}
{% block body %}
<h1>Script Converter <small>Step 1</small></h1>
  <div id="top-toolbar">    
    {% if is_granted('ROLE_ADMIN') %}
    <label class="btn btn-default" ng-click="saveScript()"><i class="fa fa-save"></i> Save</label>    
    <label class="dropdown">
        <label class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="glyphicon glyphicon-download-alt"></i> Download
          <span class="caret"></span>
        </label>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a ng-click="downloadScript()" title="Download Script">Script</a></li>
          <li><a ng-click="downloadGraphImage()" title="Download Graph Image">Graph Image</a></li>
          <li><a ng-click="downloadWorkflowImage()" title="Download Draft Workflow Image">Draft Workflow Image</a></li>
          <li><a ng-click="downloadWorkflow()" title="Download Workflow">Draft Workflow</a></li>
        </ul>
    </label>
    <a class="btn btn-default" href="{{ path("script-converter-upload") }}"><i class="fa fa-forward"></i> Next</a>    
    <a class="btn btn-default" href="{{ path("script-converter-editor") }}"><i class="fa fa-refresh"></i> Refresh</a>    
    <a class="btn btn-default" href="{{ path("script-converter-restart") }}"><i class="glyphicon glyphicon-plus"></i> New</a>    
    <a class="btn btn-default" href="{{ path("script-converter-list") }}"><i class="fa fa-list"></i> List</a>    
    {% endif %}
    <div id="viewer-mode-btn-group" class="btn-group btn-group-xs viewer-option">                        
        {% if not app.user %}
        <label class="btn btn-default" 
               ng-click="downloadGraphImage()"
               title="Download Graph Image"><i class="fa fa-download"></i> Download</label>
        {% endif %}
        <label class="btn btn-default" 
               ng-click="getGraph()"
               title="Refresh graphic representation of program"><i class="fa fa-refresh"></i> Refresh</label>
        
        <label class="btn btn-default" uib-btn-radio="'graph'" 
               ng-model="viewerMode" ng-change="viewerModeChange()"
               title="View graphic representation of program">Graph</label>
        {% if app.user %} 
        <label class="btn btn-default" uib-btn-radio="'workflow'" 
               ng-model="viewerMode" ng-change="viewerModeChange()"
               title="View workflow representation of program">Workflow</label>                
        {% endif %}
    </div>

  </div>

  <div id="script">
    
    <pre id="editor"></pre>

    <div id="viewer">
      <pre id="text-viewer" ng-hide="showGraphViewer"></pre>
      <div id="graph-viewer" class="dragscroll" ng-show="showGraphViewer" >
        <svg width="10pt" height="10pt" viewBox="0.00 0.00 10.00 10.00" 
             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        </svg>
      </div>
    </div>
    
    <yw.divider id="script-divider" left-panel="editor" right-panel="viewer"
         left-min-width="66" divider-width="8" right-min-width="66" left-panel-fraction="0.50">
    </yw.divider>

  </div>
  
  <div id="bottom-toolbar">
                
    <select id="language-select" class="editor-option" ng-model="language" ng-change="languageChange()" title="Select programming language">
      <option value="sh">Bash</option>
      <option value="python">Python</option>
      <option value="r">R</option>
    </select>   

    <select class="editor-option" ng-model="fontsize" ng-change="fontsizeChange()" title="Set font size">
      <option value="8">8</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="16">16</option>
      <option value="18">18</option>
      <option value="20">20</option>
      <option value="24">24</option>
    </select>                    

    <select class="viewer-option" ng-model="viewerZoom" ng-change="onZoomSelect()" title="Select graphics zoom level">
      <option value="fit">Fit</option>
      <option value="25">25%</option>
      <option value="50">50%</option>
      <option value="75">75%</option>
      <option value="100">100%</option>
      <option value="150">150%</option>
      <option value="200">200%</option>
      <option value="300">300%</option>
    </select>

    <div id="graph-layout-btn-group" class="btn-group btn-group-xs viewer-option">
        <label class="btn btn-default" uib-btn-radio="'tb'" ng-model="graphLayout" ng-change="getGraph()" 
               title="Vertical dataflow "> Down </label>
        <label class="btn btn-default"  uib-btn-radio="'lr'" ng-model="graphLayout" ng-change="getGraph()"
               title="Horizontal dataflow"> Across </label>        
    </div>

    <button class="btn btn-default btn-xs viewer-option" ng-model="graphTitlePosition" ng-change="getGraph()"
            uib-btn-checkbox btn-checkbox-true="'top'" btn-checkbox-false="'hide'"> Title </button>

    <button class="btn btn-default btn-xs viewer-option" ng-model="graphWorkflowBox" ng-change="getGraph()"
            uib-btn-checkbox btn-checkbox-true="'show'" btn-checkbox-false="'hide'"> Box </button>

    {#<button class="btn btn-default btn-xs viewer-option" ng-model="edgeLabels" ng-change="getGraph()"
            uib-btn-checkbox btn-checkbox-true="'show'" btn-checkbox-false="'hide'"> Arrows </button>#}

    <button class="btn btn-default btn-xs viewer-option" ng-model="graphPorts" ng-change="getGraph()"
            uib-btn-checkbox btn-checkbox-true="'relax'" btn-checkbox-false="'hide'"> Ports </button>

    <button class="btn btn-default btn-xs viewer-option" ng-model="graphParams" ng-change="getGraph()"
            uib-btn-checkbox btn-checkbox-true="'reduce'" btn-checkbox-false="'hide'"> Params </button>

    <button class="btn btn-default btn-xs viewer-option" ng-model="showDataNodes" ng-change="showDataNodesChange()"
            uib-btn-checkbox> Data </button>

    <button class="btn btn-default btn-xs viewer-option" ng-model="showProcessNodes" ng-change="showProcessNodesChange()"
            uib-btn-checkbox> Steps </button>
          
  </div>
  
  
{% endblock %}
{% block javascripts %} 
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script data-require="angular.js@*" data-semver="1.5.7" src="{{ asset("/yw-editor/lib/angular/1.5.7/angular.js") }}"></script>
<script src="{{ asset("/yw-editor/lib/angular/1.5.7/angular-animate.js") }}"></script>
<script src="{{ asset("/yw-editor/lib/angular/1.5.7/angular-sanitize.js") }}"></script>
<script src="{{ asset("/yw-editor/lib/angular-ui/ui-bootstrap-tpls-2.0.2.js") }}"></script>
<script src="{{ asset("/yw-editor/lib/ace/1.2.4/min/ace.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ asset("/yw-editor/lib/dragscroll/dragscroll.js") }}"></script>
<script src="{{ asset("/yw-editor/lib/divider/divider.js") }}"></script>
<script src="{{ asset("/yw-editor/lib/angular-file-saver.bundle.min.js") }}"></script>
<script src="{{ asset("/yw-editor/yw-viewer.js") }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script type="text/javascript">
    var url = '{{ app.request.basepath}}';  
    {% if converter.scriptLanguage != '' %}
        var language = '{{ app.session.get('language') }}';
        var sample = url+'/{{ converter.scriptFileWebPath }}';
    {% else %}
        var language = 'python';
        var sample = url+'/yw-editor/samples/helloworld.py';
    {% endif %}
</script>
{% endblock %}
{% block stylesheets %}
<link href="{{ asset("/yw-editor/lib/angular-ui-select/0.19.4/select.min.css") }}" rel="stylesheet">
<link rel="stylesheet" href="{{ asset("/yw-editor/style.css") }}" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
{% endblock %} 