{% extends 'base.html.twig' %}
{% block title %}Script Conversions{% endblock %}
{% block body %}
<h1>Script Conversions</h1>
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
<a class="btn btn-success" href="{{ path('script-converter-restart') }}"><i class="glyphicon glyphicon-plus"></i> Add</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:100px">Action</th>
                <th>Language</th>
                <th>Draft Workflow</th>
                <th>Workflow</th>
                <th>WRO</th>
                <th>Creator</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
    {% for row in pagination %}
        <tr>
            <td style="width:150px">
                <a href="{{ path('script-converter-editor', { 'hash':row.hash, 'language':row.scriptLanguage }) }}" title="Open editor"><i class="glyphicon glyphicon-edit"></i></a>
                <a href="{{ path('script-converter-delete', { 'hash':row.hash }) }}" title="Delete Conversion" class="delete"><i class="glyphicon glyphicon-trash"></i></a>
                <label class="dropdown">
                    <label class="btn btn-xs btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="glyphicon glyphicon-download-alt"></i>
                      <span class="caret"></span>
                    </label>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="{{ path("script-converter-script-download", { 'hash': row.hash, 'language': row.scriptLanguage }) }}" title="Download Script">Script</a></li>
                      <li><a href="{{ path("script-converter-abstract-workflow-download", { 'hash': row.hash, 'language': row.scriptLanguage }) }}" title="Download Graph Image">Abstract Workflow Image</a></li>
                    </ul>
                </label>
            </td> 
            <td>{{ row.scriptLanguage }}</td>
            <td>
                <label class="dropdown">
                    <label class="btn btn-xs btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="glyphicon glyphicon-download-alt"></i>
                      <span class="caret"></span>
                    </label>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="{{ path("script-converter-draft-workflow-image-download", { 'hash': row.hash }) }}" title="Download Workflow Image">Workflow Image</a></li>
                      <li><a href="{{ path("script-converter-draft-workflow-download", { 'hash': row.hash }) }}" title="Download Workflow Specification">Workflow Specification</a></li>
                    </ul>
                </label>                
            </td>
            <td>                
                <a href="{{ path('script-converter-upload', { 'hash':row.hash }) }}" title="Upload Workflow"><i class="glyphicon glyphicon-upload"></i></a>
                {% if row.workflow %}                    
                <a href="{{ path('workflow-details', { 'workflow_uri':row.workflow.uri|url_encode() }) }}"><i class="glyphicon glyphicon-search"></i></a> &nbsp;{{ row.workflow.title }}
                    <label class="dropdown">
                        <label class="btn btn-xs btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="glyphicon glyphicon-download-alt"></i>
                          <span class="caret"></span>
                        </label>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <li><a href="{{ path("script-converter-workflow-image-download", { 'hash': row.hash }) }}" title="Download Workflow Image">Workflow Image</a></li>
                          <li><a href="{{ path("workflow-download", { 'hash': row.hash }) }}" title="Download Workflow Specification">Workflow Specification</a></li>
                          <li><a href="{{ path("script-converter-provenance-download", { 'hash': row.hash }) }}" title="Download Provenance data">Provenance Data</a></li>
                        </ul>
                    </label>
                {% endif %}
            </td>
            <td>
                {% if row.wro %}
                    <a href="{{ path('wro-details', { 'wro_uri':row.wro.uri|url_encode() }) }}" title="Go to Workflow Research Object details"><i class="glyphicon glyphicon-search"></i></a>
                    <a href="{{ path('wro-download', { 'wro_uri':row.wro.uri|url_encode() }) }}" title="Download Workflow Research Object"><i class="glyphicon glyphicon-download"></i></a>
                    <a href="{{ path('wro-delete', { 'wro_uri':row.wro.uri|url_encode() }) }}" title="Delete Workflow Research Object" class="delete"><i class="glyphicon glyphicon-trash"></i></a>
                {% else %}
                    <a href="{{ path('script-converter-create-wro', { 'hash':row.hash }) }}" title="Create Workflow Research Object"><i class="glyphicon glyphicon-plus"></i></a>                
                {% endif %}
            </td>
            <td><a href="{{ path('security-user', { 'user_uri':row.creator.uri|url_encode() }) }}" title="Go to user profile"><i class="glyphicon glyphicon-search"></i></a> {{ row.creator }}</a></td>
            <td>{{ row.createdAt|date('H:i Y-m-d') }}</td>
            <td>{{ row.updatedAt|date('H:i Y-m-d') }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
<div class="row">
    <div class="col-sm-12">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ app_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}  
{% block javascripts %}            
{% endblock %}
{% block stylesheets %}
{% endblock %} 
