{% extends 'base.html.twig' %}
{% block title %}Script Converter{% endblock %}
{% block body %}
<h1>Script Converter <small>Upload</small></h1>
<div class="alert alert-info"><p>After editing the initial workflow provided by W2Share in the SWfMS, please upload the workflow specification into the system.</p></div>
<p>
    <a class="btn btn-xs btn-success" href="{{ path('script-converter-editor') }}"><i class="glyphicon glyphicon-plus"></i> Editor</a>
    <a class="btn btn-xs btn-info" href="{{ path('script-converter-list') }}"><i class="glyphicon glyphicon-list-alt"></i> List</a>
</p>

{{ form_start(form) }}
    <div class="form-body">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                    <button class="close" data-dismiss="alert"></button>
                    {{ flashMessage }}
            </div>            
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                    <button class="close" data-dismiss="alert"></button>
                    {{ flashMessage }}
            </div>            
        {% endfor %}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-12">               
                <div class="row">
                    <div class="form-group">
                        {{ form_label(form.workflow_file) }}
                        {{ form_widget(form.workflow_file, { 'attr': { 'class':'form-control' } }) }}
                        {{ form_errors(form.workflow_file) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        {{ form_label(form.provenance_file) }}
                        {{ form_widget(form.provenance_file, { 'attr': { 'class':'form-control' } }) }}
                        {{ form_errors(form.provenance_file) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
            {{ form_widget(form.send) }}             
    </div>
    {{ form_end(form) }}
{% endblock %}  
{% block javascripts %}  
{% endblock %}
{% block stylesheets %}
{% endblock %} 
