<!DOCTYPE html>
<!--[if IE 8]> <html lang="pt-br" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="pt-br" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="pt-br">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
  <meta charset="utf-8">
  <title>{% block title %}Dashboard{% endblock %} - W2SHARE</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link href="{{ app.request.basepath }}/css/bootstrap.css" rel="stylesheet">
  <link href="{{ app.request.basepath }}/css/bootstrap-theme.css" rel="stylesheet">  
  {% block stylesheets %}{% endblock %}    
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body> 
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">          
          <a class="navbar-brand">W2SHARE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Workflows <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('workflow-upload') }}">Upload</a></li>
                <li><a href="{{ path('workflows') }}">List</a></li>
                <li><a href="{{ path('provenance-workflows') }}">Provenance</a></li>                
              </ul>
            </li>
            <li><a href="{{ path('provenance-workflows-run') }}">Provenance</a></li>
            <li><a href="{{ path('yesworkflow-form') }}">YesWorkflow</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Quality Flow <span class="caret"></span>
              </a>
               <ul class="dropdown-menu">
                <li><a href="{{ path('qualitydimension-add') }}">Quality Dimensions</a></li>
                <li><a href="#">Lorem Ipsum</a></li>              
              </ul>
            </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li>
                  {{ render(controller('AppBundle:Provenance:concepts', { 'query':app.request.get('query'), 'concept':app.request.get('concept') } )) }}
              </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">
        {% block body %}{% endblock %}
        <footer class="margin">
            <p>&copy; Laboratory of Information Systems (LIS) - UNICAMP 2016         
                <a href="{{ path('reset') }}" class="reset"><button class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-alert"></i></button></a>
                <a href="{{ path('annotation-reset') }}" class="reset"><button class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-alert"></i></button></a>
            </p>
        </footer>

    </div>
    <script src="{{ app.request.basepath }}/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/clipboard.min.js" type="text/javascript"></script>
<script type="text/javascript">
var clipboard = new Clipboard('.btn');
    
$(document).ready(function(){
    $('a.reset').click(function (e) {
        e.preventDefault();

        if (confirm("Are you sure you want to delete permanently all data?")) {
            location.href=$(this).attr('href');
        }
    });
});
</script>
{% block javascripts %}
{% endblock %}
</body>
<!-- END BODY -->
</html>