{% extends 'base.html.twig' %}
{% block title %}Process Quality Annotation{% endblock %}
{% block body %}
<h2>Workflow quality annotations</h2>
<div class="form-group">
    <label>Select workflow</label>
    <select class="form-control" name="workflow">
        {% for wf in workflows %}
            <option value="">{{ wf.label.value }}</option>
        {% endfor %}
    </select>
</div>
    
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <!--<th style="width:100px">Action</th>-->
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <!-- TO-DO: Recuperar só as informacoes do workflow selecionado -->
            <tr>
                <td>Dummy</td>
                <td>Dummy</td>
                <td>Dummy</td>
            </tr>
        </tbody>
    </table>
</div> 

<!-- TO-DO: Tentar agrupar todos estes elementos numa so fila -->
<div class="form-group">
  <label>Select a quality dimension</label>
  <select class="form-control" name="qualitydimension" style="width:20%"> <!--style="width:120px" -->
      {% for qd in ['q1', 'q2', 'q3'] %} <!--TODO: depois trocar por qualitydimension -->
        <option value="{{ qd }}">{{ qd }}</option> <!--TODO: depois trocar por qd.name  -->
      {% endfor %}
  </select>
</div>

<div>
    {{ form_start(form) }}
        <div class="form-body">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                        <button class="close" data-dismiss="alert"></button>
                        {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                        <button class="close" data-dismiss="alert"></button>
                        {{ flashMessage }}
                </div>            
            {% endfor %}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form_label(form.value) }}
                        {{ form_widget(form.value, { 'attr': { 'class':'form-control' } }) }}
                        {{ form_errors(form.value) }}
                    </div>
                </div>
            </div>

        </div>
        <div class="form-actions">
            {{ form_widget(form.save) }}
        </div>

    {{ form_end(form) }}
    </form>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <!--<th style="width:100px">Action</th>-->
                <th>Delete</th>
                <th>Dimension</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <!-- TO-DO: Recuperar só as informacoes do workflow selecionado -->
            <tr>
                <td>
                    <button class="btn btn-xs" data-clipboard-text=""> <!-- TO-DO: trocar depois pela funcao Delete -->
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </td>
                <td>Dummy</td>
                <td>Dummy</td>
            </tr>
        </tbody>
    </table>
</div> 

{% endblock %}  
{% block javascripts %}
{% endblock %}
{% block stylesheets %}
{% endblock %} 