{% extends 'base.html.twig' %}
{% block title %}Quality Dimensions{% endblock %}
{% block body %}
<h1>Quality Dimensions</h1>
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
<div class="row">
    <div class="col-md-1">
        <a class="btn btn-success" href="{{ path('qualitydimension-add') }}"><i class="glyphicon glyphicon-plus"></i> New</a>
    </div>
    <div class="col-md-5 pull-right" id="filtrar">
        {{ form_start(form) }}
            <div class="row">                                
                <div class="pull-left">
                    <button class="btn btn-info habilitar">
                    Filter Options <i class="glyphicon glyphicon-collapse-down"></i>
                    </button>
                </div>
            </div> 
            <div class="panel panel-info collapse" id="filtrar-avancado">
                <div class="panel-heading">
                        <h3 class="panel-title">Search</h3>
                </div>
                <div class="panel-body">                                                                      
                    <div class="row">                           
                        <div class="col-md-12">
                            <div class="form-group">
                                    {{ form_label(form.user)}}
                                    {{ form_widget(form.user, { 'attr': { 'class':'form-control select' } }) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="btn-group">
                                <button class="btn btn-info reset">
                                    <i class="glyphicon glyphicon-erase"></i> Reset
                                </button>
                                {{ form_widget(form.filter) }}
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div> 
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:100px">Action</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Creator</th>
            </tr>
        </thead>
        <tbody>
    {% for qd in pagination %}
        <tr>
            <td>
                <a href="{{ path('qualitydimension-edit', { 'qualitydimension_uri':qd.uri|url_encode }) }}" title="Edit quality dimension" ><i class="glyphicon glyphicon-edit"></i></a>
                <a href="{{ path('qualitydimension-delete', { 'qualitydimension_uri':qd.uri|url_encode }) }}" title="Delete quality dimension " class="delete"><i class="glyphicon glyphicon-trash"></i></a>
                <a href="{{ path('add-qualitymetric', { 'qualitydimension_uri':qd.uri|url_encode() }) }}" title="Add a quality metric" ><i class="glyphicon glyphicon-plus"></i></a> 
            </td>
            <td>{{ qd.name }}</td>
            <td>{{ qd.description }}</a></td>
            <td>{{ qd.valueType }}</td> 
            <td>{{ qd.creator.name }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ app_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}  
{% block javascripts %}  
    <script type="text/javascript">
        $(document).ready(function()   
        {
            $('button.habilitar').click(function (e) {
                e.preventDefault();
                $('#filtrar-avancado').collapse('toggle');
                if ($(this).children('i').hasClass('glyphicon-collapse-down'))
                {
                    $(this).children('i').removeClass('glyphicon-collapse-down');
                    $(this).children('i').addClass('glyphicon-collapse-up');
                }
                else
                {
                    $(this).children('i').removeClass('glyphicon-collapse-up');
                    $(this).children('i').addClass('glyphicon-collapse-down');
                }
            });
            
            $('button.reset').click(function(e) {
                e.preventDefault();
                $(':input, :button, :hidden')
                    .val('')
                    .removeAttr('checked')
                    .removeAttr('selected');                
                $('.select').val([]).trigger('change');
            });            
        });
    </script>
{% endblock %}
{% block stylesheets %}
{% endblock %}