{% extends 'base.html.twig' %}
{% block title %}Manage Quality Annotation{% endblock %}
{% block body %}
<h2>Manage Quality Annotations</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <!--<th style="width:100px">Action</th>-->
                {% if workflow.uri %}
                    <th>Workflow Name</th>
                    <th>Author</th>
                    <th>Workflow Description</th>
                {% elseif process_run.uri %}
                    <th>Process Name</th>
                    <th>Process Description</th>
                    <th>Workflow</th>
                {% else %}
                    <th>Output Data</th>
                    <th>Output Name</th>
                    <th>Output Description</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if workflow.uri %}
                    <td>{{ workflow.title }}</td>
                    <td>{{ workflow.creator }}</td>
                    <td>{{ workflow.description }}</td>
                {% elseif process_run.uri %}
                    <td>{{ process_run.label }}</td>
                    <td>{{ process_run.process.description }}</td>
                    <td>{{ process_run.process.workflow.title }} </td>
                {% else %}
                    <td> {{output_data_run.content}} </td>
                    <td> {{output_data_run.output.label}} </td>
                    <td> {{output_data_run.output.description}} </td>
                {% endif  %}
            </tr>
        </tbody>
    </table>
</div> 
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
{{ form_errors(form) }}  

{{ form_start(form) }}
    
    <!-- TO-DO: Tentar agrupar todos estes elementos numa so fila -->
<div class="panel panel-default">
    <div class="panel-heading">Form</div>
    <div class="panel-body"> 
            
             <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_label(form.quality_dimension) }}
                        <select id="qualityannotation_quality_dimension" name="qualityannotation[quality_dimension]" required="required" class="form-control select">
                            <option value=""></option>
                            {% for qd in quality_dimensions %}
                                <option value="{{ qd.uri }}" {% if qualityAnnotation.qualityDimension and qd.uri == qualityAnnotation.qualityDimension.uri %}selected="selected"{% endif %}>{{ qd.name }}</option>                            
                            {% endfor %}
                        </select>
                        {{ form_errors(form.quality_dimension) }}
                    </div>
                </div>
            
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_label(form.value) }}
                        {{ form_widget(form.value, { 'attr': { 'class':'form-control' } }) }}
                        {{ form_errors(form.value) }}
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            {{ form_widget(form.save) }} 
            <a href="{{ path('quality-annotations') }}" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> List</a>
        </div>
        {{ form_widget(form._token) }}
</div>
</form>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Actions</th>
                <th>Dimension</th>
                <th>Value</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            {% for annotation in pagination %}
                <tr>
                    <td>
                        <a href="{{ path('delete-qualitydimension-annotation', { 'annotation_uri':annotation.uri|url_encode(), 'type': type }) }}" 
                           title="Delete quality annotations" class="delete"><i class="glyphicon glyphicon-trash"></i></a> 
                        <a href="{{ path('edit-qualitydimension-annotation', { 'annotation_uri':annotation.uri|url_encode(), 'type': type }) }}" 
                           title="Edit quality annotations"><i class="glyphicon glyphicon-edit"></i></a> 
                    </td>
                    <td>{{ annotation.qualityDimension.name }}</td>
                    <td>{{ annotation.value }}</td>
                    <td>{{ annotation.creator }}</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table class="table">
                            <thead>                                
                                <tr>
                                    <th> Metric </th>
                                    <th> Description </th>
                                    <th> Play </th>
                                    <th> Result </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if false and annotation.annotationMetric %}
                                <tr>
                                    <td>{{ annotation.annotationMetric.metric.metric }}</td>
                                    <td>{{ annotation.annotationMetric.metric.description }}</td>
                                    <td></td>
                                    <td>{{ annotation.annotationMetric.result }}</td>
                                </tr>
                                {% else %}
                                <tr>
                                    <th>
                                        <a href="{{ path('select-qualitymetric', { 'qualitydimension_uri':annotation.qualityDimension.uri|url_encode(), 'annotation_uri': annotation.uri|url_encode(), 'type': type }) }}" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#qualityMetricModal">
                                          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                          Metric                                          
                                        </a>
                                    </th>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 
<div class="row">
    <div class="col-sm-12">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ app_pagination_render(pagination) }}
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="qualityMetricModal" tabindex="-1" role="dialog" aria-labelledby="qualityMetricModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
  </div>
</div>  
{% endblock %}  
{% block javascripts %}
{% endblock %}
{% block stylesheets %}
{% endblock %} 