{% extends 'base.html.twig' %}
{% block title %}Process Quality Annotation{% endblock %}
{% block body %}
<h2>Workflow quality annotations</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <!--<th style="width:100px">Action</th>-->
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <!-- TO-DO: Recuperar só as informacoes do workflow selecionado -->
            <tr>
                <td>{{ workflow.title }}</td>
                <td>{{ workflow.creator }}</td>
                <td>{{ workflow.description }}</td>
            </tr>
        </tbody>
    </table>
</div> 


  
<div>
    {{ form_start(form) }}
    
    <!-- TO-DO: Tentar agrupar todos estes elementos numa so fila -->
        <div class="form-body">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                        <button class="close" data-dismiss="alert"></button>
                        {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                        <button class="close" data-dismiss="alert"></button>
                        {{ flashMessage }}
                </div>            
            {% endfor %}
            {{ form_errors(form) }}
             <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form_label(form.quality_dimension) }}
                        {{ form_widget(form.quality_dimension, { 'attr': { 'class':'form-control' } }) }}
                        {{ form_errors(form.quality_dimension) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form_label(form.value) }}
                        {{ form_widget(form.value, { 'attr': { 'class':'form-control' } }) }}
                        {{ form_errors(form.value) }}
                    </div>
                </div>
            </div>

        </div>
                    
        <div class="form-actions">
            {{ form_widget(form.save) }} 
            <a href="{{ path('quality-annotations') }}" class="btn btn-info">List</a>
        </div>

    {{ form_end(form) }}
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <!--<th style="width:100px">Action</th>-->
                <th>Delete</th>
                <th>Dimension</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <!-- TO-DO: Recuperar só as informacoes do workflow selecionado -->
            {% for annotation in pagination %}
                <tr>
                    <td>
                        <a class="btn btn-xs delete" href="{# path('alguma-rota') #}"> <!-- TO-DO: trocar depois pela funcao Delete -->
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                        
                        <a href="{{ path('edit-qualitydimension-annotation', { 'annotation_uri':annotation.uri|url_encode() }) }}" 
                           title="Edit annotations"><i class="glyphicon glyphicon-edit"></i></a> 
                    </td>
                    <td>{{ annotation.qualityDimension.name }}</td>
                    <td>{{ annotation.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 
<div class="row">
    <div class="col-sm-12">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ app_pagination_render(pagination) }}
    </div>
</div>
    
{% endblock %}  
{% block javascripts %}
{% endblock %}
{% block stylesheets %}
{% endblock %} 