<div>
<h2>Choose Quality Metric</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:100px">Action</th>
                <th>Metric</th>
                <th>Description</th>
                <th>Creator</th>
            </tr>
        </thead>
        <tbody>
    {% for qualityMetric in pagination %}
        <tr>
            <td>
                
            </td>
            
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

{{ form_start(form) }}
    <div class="form-actions">
        {% if qualityDimension.uri %} 
            {{ form_widget(form.save, { 'label':'Edit' }) }} 
            <a class="btn btn-primary" href="{{ path('qualitydimension-add') }}">Add</a> 
        {% else %}
            {{ form_widget(form.save, { 'label':'Add' }) }}
        {% endif %}
        <a href="{{ path('qualitydimensions') }}" class="btn btn-info">List</a>
    </div>
    {{ form_end(form) }}
</div>
