        <form action="{{ path('add-qualitymetric-annotation', { 'annotation_uri':annotation_uri|url_encode(), 'type': type }) }}">
          <div class="modal-header">
            <h5 class="modal-title" id="qualityMetricModalLabel">Choose Quality Metric</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
           <!-- Send quality dimension URI, annotation URI and type to controller-->
          <div class="modal-body">
              <div class="form-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Metric</th>
                                <th>Description</th>
                                <th>Creator</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for qualityMetric in quality_metrics %}
                                <tr>
                                    <td>
                                        <input type="radio" name="quality_metric" id="field{{ loop.index }}" value="{{ qualityMetric.uri }}"/>
                                    </td>
                                    <td> <label for="field{{ loop.index }}">{{ qualityMetric.description }}</label> </td>
                                    <td> {{ qualityMetric.creator.name }} </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="form-group">
                        <label>Result:</label> <input type="text" name="result" value="" class="form-control">
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
 
