{% extends 'base.html.twig' %}
{% block title %}Manage Quality Annotation{% endblock %}
{% block body %}
<h2>Manage Quality Annotations</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <!--<th style="width:100px">Action</th>-->
                {% if workflow.uri %}
                    <th>Workflow Name</th>
                    <th>Author</th>
                    <th>Workflow Description</th>
                {% elseif process_run.uri %}
                    <th>Process Name</th>
                    <th>Author</th>
                    <th>Process Description</th>
                {% else %}
                    <th>Output Data</th>
                    <th>Output Name</th>
                    <th>Output Description</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if workflow.uri %}
                    <td>{{ workflow.title }}</td>
                    <td>{{ workflow.creator }}</td>
                    <td>{{ workflow.description }}</td>
                {% elseif process_run.uri %}
                    <td>{{ process_run.label }}</td>
                    <td> Workflow creator: {{ process_run.process.workflow.creator }} </td>
                    <td>{{ process_run.process.description }}</td>
                {% else %}
                    {% for item in output_data_run %}
                        <td>{{ item.content }}</td>
                        <td>{{ item.output.label }}</td>
                        <td>{{ item.output.description }}</td>
                        {% if not loop.last %}
                        </tr><tr>
                        {% endif %}
                    {% endfor %}
                {% endif  %}
            </tr>
        </tbody>
    </table>
</div> 
  
<div>
    {{ form_start(form) }}
    
    <!-- TO-DO: Tentar agrupar todos estes elementos numa so fila -->
        <div class="form-body">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                        <button class="close" data-dismiss="alert"></button>
                        {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                        <button class="close" data-dismiss="alert"></button>
                        {{ flashMessage }}
                </div>            
            {% endfor %}
            {{ form_errors(form) }}
             <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form_label(form.quality_dimension) }}
                        <select id="qualityannotation_quality_dimension" name="qualityannotation[quality_dimension]" required="required" class="form-control select">
                        {% for qd in qualityDimensions %}
                            <option value="{{ qd.uri }}" {% if qd.uri == qualityAnnotation.qualityDimension.uri %}selected="selected"{% endif %}>{{ qd.name }}</option>
                        {% endfor %}
                        </select>
                        {{ form_errors(form.quality_dimension) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form_label(form.value) }}
                        {{ form_widget(form.value, { 'attr': { 'class':'form-control' } }) }}
                        {{ form_errors(form.value) }}
                    </div>
                </div>
            </div>

        </div>
                    
        <div class="form-actions">
            {% if qualityAnnotation.uri %}
                {{ form_widget(form.save, { 'label':'Edit' }) }} 
            {% else %}
                {{ form_widget(form.save) }} 
            {% endif %}
            <a href="{{ path('quality-annotations') }}" class="btn btn-info">List</a>
        </div>
        {{ form_widget(form._token) }}
    </form>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <!--<th style="width:100px">Action</th>-->
                <th>Delete</th>
                <th>Dimension</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for annotation in pagination %}
                <tr>
                    <td>
                        <a href="{{ path('delete-qualitydimension-annotation', { 'annotation_uri':annotation.uri|url_encode(), 'type': type }) }}" 
                           title="Delete quality annotations" ><i class="glyphicon glyphicon-trash"></i></a> 
                        <a href="{{ path('edit-qualitydimension-annotation', { 'annotation_uri':annotation.uri|url_encode(), 'type': type }) }}" 
                           title="Edit quality annotations"><i class="glyphicon glyphicon-edit"></i></a> 
                    </td>
                    <td>{{ annotation.qualityDimension.name }}</td>
                    <td>{{ annotation.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 
<div class="row">
    <div class="col-sm-12">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ app_pagination_render(pagination) }}
    </div>
</div>
    
{% endblock %}  
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function()   
        {
            $('#qualityannotation_quality_dimension').val('{{ form.quality_dimension.vars.value }}')
        });
    </script>
{% endblock %}
{% block stylesheets %}
{% endblock %} 