{% extends 'base.html.twig' %}
{% block title %}Add Quality Metric{% endblock %}
{% block body %}

<h1>Quality dimension <button class="btn btn-xs copy" data-clipboard-text="{{ quality_dimension.uri }}"> <i class="glyphicon glyphicon-copy"></i></h1>
    
    <ul>
        <li><strong>Name:</strong> {{ quality_dimension.name }}</li>
        <li><strong>Description:</strong> {{ quality_dimension.description }}</li>
    </ul>

<div>
{{ form_start(form) }}
    <div class="form-body">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                    <button class="close" data-dismiss="alert"></button>
                    {{ flashMessage }}
            </div>            
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                    <button class="close" data-dismiss="alert"></button>
                    {{ flashMessage }}
            </div>            
        {% endfor %}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.metric) }}
                    {{ form_widget(form.metric, { 'attr': { 'class':'form-control' } }) }}
                    {{ form_errors(form.metric) }}
                </div>
             </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description, { 'attr': { 'class':'form-control' } }) }}
                    {{ form_errors(form.description) }}
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        {% if qualityMetric.uri %} 
            {{ form_widget(form.save, { 'label':'Edit' }) }} 
        {% else %}
            {{ form_widget(form.save, { 'label':'Add' }) }}
        {% endif %}
        <a href="" class="btn btn-info">List</a>
    </div>
    {{ form_end(form) }}
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:100px">Action</th>
                <th>Metric</th>
                <th>Description</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            {% for item in pagination %}
                <tr>
                    <td>
                        <a href="" 
                           title="Delete quality metric" ><i class="glyphicon glyphicon-trash"></i></a> 
                        <a href="" 
                           title="Edit quality annotations"><i class="glyphicon glyphicon-edit"></i></a> 
                    </td>
                    <td>{{ item.metric }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.creator.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 
<div class="row">
    <div class="col-sm-12">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ app_pagination_render(pagination) }}
    </div>
</div>
    
{% endblock %}  
{% block javascripts %}
{% endblock %}
{% block stylesheets %}
{% endblock %} 