{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block body %}
        <h1>Welcome!</h1>
        <p>This is an under development prototype to convert script-based experiments into reproducible Workflow Research Objects. W2Share also supports sharing these objects to the scientific community.</p>
        <p><a class="btn btn-primary btn-lg" href="{{ path('about') }}" role="button">Learn more &raquo;</a></p>
        <!-- Example row of columns -->
        <h2>Features</h2>
        <div class="row">
          <div class="col-md-6">
              <div class="thumbnail">
                  <img src="{{ asset('images/executable-workflow.png') }}" title="executable workflow" style="height:300px">
                  <div class="caption">
                    <h2>Workflows</h2>
                    <p>This prototype supports workflows designed using the Taverna system. </p>
                    <p><a class="btn btn-default" href="{{ path('workflow-list') }}" role="button">View details &raquo;</a></p>
                  </div>
              </div>
          </div>
            
          <div class="col-md-6">
              <div class="thumbnail">
                  <a href="{{ asset('images/starting-points.svg') }}"><img src="{{ asset('images/starting-points.svg') }}"  alt="PROV-O Starting Point terms"></a>
                  <div class="caption">
                    <h2>Workflow Runs</h2>
                    <p>Provenance data exported using the Taverna system can be imported in this prototype to allow exploration and reproducibility of experiments. </p>
                    <p><a class="btn btn-default" href="{{ path('provenance-workflows-run') }}" role="button">View details &raquo;</a></p>
                  </div>
              </div>
         </div>
         <div class="col-md-6">
             <div class="thumbnail">
                 <a href="{{ asset('images/methodology-conver-script-workflow-1024x581.png') }}" ><img src="{{ asset('images/methodology-conver-script-workflow-1024x581.png') }}" alt="Methodology for Conversion of Scripts into Reproducible Workflow Research Objects" width="580" height="329"></a>
                  <div class="caption">
                    <h2>Conversion of Scripts</h2>
                    <p>We have been workfing in a feature to allow the scientist to convert scripts into Reproducible Workflow Research Objects. </p>
                    <p><a class="btn btn-default" href="http://w2share.lis.ic.unicamp.br/s2rwro/" role="button">View details &raquo;</a></p>
                  </div>
             </div>
         </div>
          <div class="col-md-6">
              <div class="thumbnail">
                  <img src="{{ asset('images/qualityflow-ontology.png') }}"  width="545" height="330" alt="Image result for ontology example">
                  <div class="caption">
                    <h2>QualityFlow</h2>
                    <p>We have been working in an ontology and a feature to allow scientists to create Quality Dimensions and support manual annotatation of workflows, processes and results.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                  </div>
              </div>
          </div>
        </div>   
{% endblock %}
{% block stylesheets %}
    <style>
        .thumbnail {
            min-height: 550px;
        }
    </style>
{% endblock %}