{% extends 'base.html.twig' %}
{% block title %}{% if wro.uri %}Edit{% else %}New{% endif %} Workflow Research Object{% endblock %}
{% block body %}
<h1>WRO <small>{% if wro.uri %}<button class="btn btn-xs copy" data-clipboard-text="{{ wro.uri }}">
                <i class="glyphicon glyphicon-copy"></i>
            </button> Edit{% else %}New{% endif %}</small></h1>
    {% if wro.uri %}
    <ul>
        <li><strong>Title:</strong> {{ wro.title }}</li>
        <li><strong>Creator:</strong> {{ wro.creator }}</li>
        <li><strong>Description:</strong> {{ wro.description }}</li>
        <li><strong>Label:</strong> {{ wro.label }}</li>
    </ul>
    {% endif %}
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
{{ form_errors(form) }}

{{ form_start(form) }}
<div class="panel panel-default">
    <div class="panel-heading">Upload Form</div>
    <div class="panel-body">            
        <div class="form-group">
            {{ form_label(form.wro_file) }}
            {{ form_widget(form.wro_file, { 'attr': { 'class':'form-control' } }) }}
            {{ form_errors(form.wro_file) }}
        </div>                
    </div>
    <div class="panel-footer">            
        {{ form_widget(form.save) }}             
        <a href="{{ path('wro-list') }}" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> List</a>
        {% if wro.uri %}
            <a href="{{ path('wro-details', { 'wro_uri':wro.uri|url_encode() }) }}" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-search"></i></a>                
        {% endif %}
    </div>
</div>
{{ form_end(form) }}                

{% endblock %}  
{% block javascripts %}            
{% endblock %}
{% block stylesheets %}
{% endblock %} 
