{% extends 'base.html.twig' %}
{% block title %}Workflow Research Objects{% endblock %}
{% block body %}
<h1>Workflow Research Objects</h1>
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
<a class="btn btn-success" href="{{ path('wro-add') }}"><i class="glyphicon glyphicon-plus"></i> New</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:100px">Action</th>
                <th>Title</th>
                <th>Description</th>
                <th>Creator</th>                
            </tr>
        </thead>
        <tbody>
    {% for wro in pagination %}
        <tr>
            <td style="width:150px">
                <a href="{{ path('wro-details', { 'wro_uri':wro.uri|url_encode() }) }}" title="Go to WRO details"><i class="glyphicon glyphicon-search"></i></a>
                <a href="{{ path('wro-edit', { 'wro_uri':wro.uri|url_encode() }) }}" title="Edit WRO"><i class="glyphicon glyphicon-edit"></i></a>
                <a href="{{ path('wro-download', { 'wro_uri':wro.uri|url_encode() }) }}" title="Download WRO"><i class="glyphicon glyphicon-download"></i></a>
                <a href="{{ path('wro-delete', { 'wro_uri':wro.uri|url_encode() }) }}" title="Delete WRO" class="delete"><i class="glyphicon glyphicon-trash"></i></a>
            </td> 
            <td>{{ wro.title }}</td>
            <td>{{ wro.description }}</td> 
            <td>{{ wro.creator }}</a></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ app_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}  
{% block javascripts %}            
{% endblock %}
{% block stylesheets %}
{% endblock %} 
