{% extends 'base.html.twig' %}
{% block title %}{% if resource.uri %}Edit{% else %}New{% endif %} WRO Resource{% endblock %}
{% block body %}
<h1>WRO Resource<small> {% if resource.uri %}Edit{% else %}New{% endif %}</small></h1>
    
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
{{ form_errors(form) }}

{{ form_start(form) }}
<div class="panel panel-default">
    <div class="panel-heading">Form</div>
    <div class="panel-body">            
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, { 'attr': { 'class':'form-control' } }) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, { 'attr': { 'class':'form-control' } }) }}
            {{ form_errors(form.description) }}
        </div> 
        <div class="form-group">
            {{ form_label(form.type) }}
            {{ form_widget(form.type, { 'attr': { 'class':'form-control select' } }) }}
            {{ form_errors(form.type) }}
        </div>
        <div class="form-group">
            {{ form_label(form.filename) }}
            {{ form_widget(form.filename, { 'attr': { 'class':'form-control' } }) }}
            {{ form_errors(form.filename) }}
        </div>
    </div>
    <div class="panel-footer">            
        {{ form_widget(form.save) }}             
        {% if resource.uri %}
            <a href="{{ path('wro-resource-add', { 'wro_uri':resource.wro.uri|url_encode() }) }}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> New</a>
        {% endif %}
        <a href="{{ path('wro-details', { 'wro_uri':resource.wro.uri|url_encode() }) }}" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> List</a>
    </div>
</div>
{{ form_end(form) }}                

{% endblock %}  
{% block javascripts %}            
{% endblock %}
{% block stylesheets %}
{% endblock %} 
