{% extends 'base.html.twig' %}
{% block title %}Details - WRO{% endblock %}
{% block body %}
{% if wro.scriptConversion %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('script-converter-details', { 'hash': wro.scriptConversion.hash }) }}">Script Converter</a></li>
        <li class="active">Workflow Research Object</li>
    </ol>
{% endif %}
{{ include('wro/wro-info.html.twig', { 'wro': wro }) }}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
<h2>Resources</h2>
<a href="{{ path('wro-resource-add', { 'wro_uri':wro.uri|url_encode() }) }}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> New</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:100px">Actions</th>
                <th>File</th>
                <th>Title</th>  
                <th>Type</th> 
                <th>Description</th>                               
            </tr>
        </thead>
        <tbody>
    {% for resource in pagination %}
        <tr>   
            <td>
                <a href="{{ path('wro-resource-details', { 'resource_uri':resource.uri|url_encode()}) }}" title="Go to resource details"><i class="glyphicon glyphicon-search"></i></a>
                <a href="{{ path('wro-resource-edit', { 'resource_uri':resource.uri|url_encode()}) }}" title="Edit resource"><i class="glyphicon glyphicon-edit"></i></a>
                <a href="{{ path('wro-resource-download', { 'resource_uri':resource.uri|url_encode()}) }}" title="Download resource"><i class="glyphicon glyphicon-download"></i></a>
                <a href="{{ path('wro-resource-delete', { 'resource_uri':resource.uri|url_encode()}) }}" title="Delete resource" class="delete"><i class="glyphicon glyphicon-trash"></i></a>                
            </td>
            <td>{{ resource.folder }}/{{ resource.filename }}</td> 
            <td>{{ resource.title }}</td>
            <td>{{ resource.type|split('#')|last }}</td>
            <td>{{ resource.description }}</a></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

    <h2>Quality Evidence Data
        <br>
        <div style="float: right">
            <div class="progress" style="width: 400px;">
                {% if percent >=50 %}
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow={{percent}} aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%;">
                {% endif %}
                {% if percent <50 %}
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow={{percent}} aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%;">
                {%  endif %}
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </h2>

    <a href="{{ path('wro-qed-add', { 'wro_uri':wro.uri|url_encode() }) }}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> New</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width:100px">Actions</th>
                <th>Resource</th>
                <th>Quality Data Type</th>
                <th>Creator</th>
                <th>Last modified</th>

            </tr>
            </thead>
            <tbody>
            {% for qed in qeds %}
                <tr>
                    <td>
                        <a href="{{ path('wro-qed-edit', { 'qed_uri':qed.uri|url_encode()}) }}" title="Edit Quality Evidence Data"><i class="glyphicon glyphicon-edit"></i></a>
                        <a href="{{ path('wro-qed-delete', { 'qed_uri':qed.uri|url_encode()}) }}" title="Delete Quality Evidence Data" class="delete"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                    <td>{{ qed.resource.filename }}</td>
                    <td>{{ qed.qualitydatatype.name }}</td>
                    <td>{{ qed.creator.name}}</td>
                    <td>{{ qed.createdattime|date('H:i:s.v m-d-Y') }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

<div class="row">
    <div class="col-sm-12">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ app_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}  
{% block javascripts %}            
{% endblock %}
{% block stylesheets %}
{% endblock %} 
