{% extends 'base.html.twig' %}
{% block title %}Annotation List{% endblock %}
{% block body %}
    <h1>Annotations 
        <small>
            <button class="btn btn-xs" data-clipboard-text="{{ uri }}">
                <i class="glyphicon glyphicon-copy"></i>
            </button>
        </small>
    </h1>
<h2>List</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Person</th>
                <th>Annotated At</th>
                <th>Property</th>
                <th>Object</th>
            </tr>
        </thead>
        <tbody>
    {% for row in annotations %}
        <tr>
            <td>{{ row.body.value }}</td>
            <td>{{ row.annotatedAt.value }}</td>
            <td>{{ row.property.value }}</td> 
            <td>{{ row.object.value }}</td>            
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}  
{% block javascripts %}            
{% endblock %}
{% block stylesheets %}
{% endblock %} 
