{% extends 'base.html.twig' %}
{% block title %}User List{% endblock %}
{% block body %}
<h1>User List</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Actions</th>
                <th>Name</th>
                <th>Homepage</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
    {% for user in pagination %}
        <tr>            
            <td><a href="{{ path('security-user', { 'user_uri':user.uri|url_encode() }) }}" title="Go to user profile"><i class="glyphicon glyphicon-search"></i></a></td>
            <td>{{ user.name }}</td>
            <td>{{ user.homepage }}</a></td>
            <td>{{ user.email }}</td> 
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ app_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
