{% extends 'base.html.twig' %}
{% block title %}Upload Workflow{% endblock %}
{% block body %}
<h1>Workflow <small>Upload</small></h1>
{{ form_start(form) }}
    <div class="form-body">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                    <button class="close" data-dismiss="alert"></button>
                    {{ flashMessage }}
            </div>            
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                    <button class="close" data-dismiss="alert"></button>
                    {{ flashMessage }}
            </div>            
        {% endfor %}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title, { 'attr': { 'class':'form-control' } }) }}
                        {{ form_errors(form.title) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        {{ form_label(form.author) }}
                        {{ form_widget(form.author, { 'attr': { 'class':'form-control' } }) }}
                        {{ form_errors(form.author) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description, { 'attr': { 'class':'form-control' } }) }}
                        {{ form_errors(form.description) }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group">
                        {{ form_label(form.workflow_file) }}
                        {{ form_widget(form.workflow_file, { 'attr': { 'class':'form-control' } }) }}
                        {{ form_errors(form.workflow_file) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        {{ form_label(form.uri) }}
                        {{ form_widget(form.uri, { 'attr': { 'class':'form-control' } }) }}
                        {{ form_errors(form.uri) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        {{ form_label(form.wfdesc_file) }}
                        {{ form_widget(form.wfdesc_file, { 'attr': { 'class':'form-control' } }) }}
                        {{ form_errors(form.wfdesc_file) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        {{ form_label(form.provenance_file) }}
                        {{ form_widget(form.provenance_file, { 'attr': { 'class':'form-control' } }) }}
                        {{ form_errors(form.provenance_file) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
            {{ form_widget(form.save) }} 
            {% if workflow.id %}
                <a href="{{ path('workflow-details', { 'workflow':workflow.uri }) }}" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-search"></i></a>
            {% endif %}
    </div>
    {{ form_end(form) }}
</form>
                

{% endblock %}  
{% block javascripts %}            
{% endblock %}
{% block stylesheets %}
{% endblock %} 
