{% extends 'base.html.twig' %}
{% block title %}{% if workflow.uri %}Edit{% else %}Add{% endif %} Workflow{% endblock %}
{% block body %}
<h1>Workflow <small>{% if workflow.uri %}<button class="btn btn-xs" data-clipboard-text="{{ workflow.uri }}">
                <i class="glyphicon glyphicon-copy"></i>
            </button> Edit{% else %}Add{% endif %}</small></h1>
    {% if workflow.uri %}
    <ul>
        <li><strong>Title:</strong> {{ workflow.title }}</li>
        <li><strong>Creator:</strong> {{ workflow.creator }}</li>
        <li><strong>Description:</strong> {{ workflow.description }}</li>
        <li><strong>Label:</strong> {{ workflow.label }}</li>
    </ul>
    {% endif %}
{{ form_start(form) }}
    <div class="form-body">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                    <button class="close" data-dismiss="alert"></button>
                    {{ flashMessage }}
            </div>            
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                    <button class="close" data-dismiss="alert"></button>
                    {{ flashMessage }}
            </div>            
        {% endfor %}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-12">
                
                
                <div class="row">
                    <div class="form-group">
                        {{ form_label(form.workflow_file) }}
                        {{ form_widget(form.workflow_file, { 'attr': { 'class':'form-control' } }) }}
                        {{ form_errors(form.workflow_file) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        {{ form_label(form.uri) }}
                        {{ form_widget(form.uri, { 'attr': { 'class':'form-control' } }) }}
                        {{ form_errors(form.uri) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        {{ form_label(form.wfdesc_file) }}
                        {{ form_widget(form.wfdesc_file, { 'attr': { 'class':'form-control' } }) }}
                        {{ form_errors(form.wfdesc_file) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        {{ form_label(form.provenance_file) }}
                        {{ form_widget(form.provenance_file, { 'attr': { 'class':'form-control' } }) }}
                        {{ form_errors(form.provenance_file) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
            {% if workflow.uri %}
                {{ form_widget(form.save, { 'label':'Edit' }) }} 
            {% else %}
                {{ form_widget(form.save) }} 
            {% endif %}
            <a href="{{ path('workflows') }}" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> List</a>
            {% if workflow.uri %}
                <a href="{{ path('workflow-details', { 'workflow_uri':workflow.uri|url_encode() }) }}" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-search"></i></a>                
            {% endif %}
    </div>
    {{ form_end(form) }}                

{% endblock %}  
{% block javascripts %}            
{% endblock %}
{% block stylesheets %}
{% endblock %} 
