{% extends 'base.html.twig' %}
{% block title %}Edit Workflow{% endblock %}
{% block body %}
<h1>Workflow <small><button class="btn btn-xs copy" data-clipboard-text="{{ workflow.uri }}">
                <i class="glyphicon glyphicon-copy"></i>
            </button> Edit</small></h1>
    {% if workflow.uri %}
    <ul>
        <li><strong>Title:</strong> {{ workflow.title }}</li>
        <li><strong>Creator:</strong> {{ workflow.creator }}</li>
        <li><strong>Description:</strong> {{ workflow.description }}</li>
        <li><strong>Label:</strong> {{ workflow.label }}</li>
    </ul>
    {% endif %}
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
{{ form_errors(form) }}

{{ form_start(form) }}
<div class="panel panel-default">
    <div class="panel-heading">Upload Form</div>
    <div class="panel-body">   
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, { 'attr': { 'class':'form-control' } }) }}
            {{ form_errors(form.title) }}
        </div>
        
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, { 'attr': { 'class':'form-control' } }) }}
            {{ form_errors(form.description) }}
        </div>
        
        <div class="form-group">
            {{ form_label(form.workflow_file) }}
            {{ form_widget(form.workflow_file, { 'attr': { 'class':'form-control' } }) }}
            {{ form_errors(form.workflow_file) }}
        </div>

        <div class="form-group">
            {{ form_label(form.provenance_file) }}
            {{ form_widget(form.provenance_file, { 'attr': { 'class':'form-control' } }) }}
            {{ form_errors(form.provenance_file) }}
        </div>                
    </div>
    <div class="panel-footer">
            {{ form_widget(form.save) }} 
            <a href="{{ path('workflow-list') }}" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> List</a>
            {% if workflow.uri %}
                <a href="{{ path('workflow-details', { 'workflow_uri':workflow.uri|url_encode() }) }}" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-search"></i></a>                
            {% endif %}
    </div>
</div>
{{ form_end(form) }}                

{% endblock %}  
{% block javascripts %}            
{% endblock %}
{% block stylesheets %}
{% endblock %} 
