{% extends 'base.html.twig' %}
{% block title %}Workflows{% endblock %}
{% block body %}
<h1>Workflows</h1>
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
    </div>            
{% endfor %}
<a class="btn btn-success" href="{{ path('workflow-upload') }}">Upload</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:100px">Action</th>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                
            </tr>
        </thead>
        <tbody>
    {% for row in result %}
        <tr>
            <td>
                <a href="{{ path('workflow-details', { 'workflow':row.uri }) }}"><i class="glyphicon glyphicon-search"></i></a>
                <a href="{{ path('workflow-edit', { 'workflow_id':row.id }) }}"><i class="glyphicon glyphicon-edit"></i></a>
                <a href="{{ path('workflow-delete', { 'workflow_id':row.id }) }}"><i class="glyphicon glyphicon-trash"></i></a>
                <a href="{{ path('provenance-workflow', { 'workflow':row.uri }) }}"><i class="glyphicon glyphicon-fast-backward"></i></a>
            </td> 
            <td>{{ row.title }}</td>
            <td>{{ row.author }}</a></td>
            <td>{{ row.description }}</td> 
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}  
{% block javascripts %}            
{% endblock %}
{% block stylesheets %}
{% endblock %} 
