{% extends 'base.html.twig' %}
{% block title %}Process{% endblock %}
{% block body %}
{{ include('workflow/workflow-info.html.twig', { 'workflow': workflow }) }}

{{ include('workflow/process-info.html.twig', { 'process': process }) }}
    
<h3>Inputs</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Actions</th>
                <th>Name</th>
                <th>Description</th>
                <th>Example Data</th>
            </tr>
        </thead>
        <tbody>
    {% for input in process_inputs %}
        <tr>
            <td>                
                <a href="{{ path('workflow-input-edit', { 'input_uri': input.uri|url_encode, 'type': 'process' }) }}" title="Edit input information"><i class="glyphicon glyphicon-edit"></i></a>
            </td>
            <td>{{ input.label }}</a></td>
            <td>{{ input.description }}</a></td>
            <td>{{ input.exampleData }}</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">No input.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
    
<h3>Outputs</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Example Data</th>
            </tr>
        </thead>
        <tbody>
    {% for output in process_outputs %}
        <tr>
            <td>{{ output.label }}</a></td>
            <td>{{ output.description }}</a></td>
            <td>{{ output.exampleData }}</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">No output.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
        
<h3>Process Runs</h3>
 <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Process Run</th>
                <th>Time</th>                
                <th>Workflow Run</th>
            </tr>
        </thead>
        <tbody>
        {% for processRun in processRuns %}
        <tr>
            <td>
                <button class="btn btn-xs copy" data-clipboard-text="{{ processRun.uri }}">
                    <i class="glyphicon glyphicon-copy"></i>
                </button>
                <a href="{{ path("provenance-process-run", { 'process_run_uri': processRun.uri|url_encode() } )}}" title="Go to process run information"><i class="glyphicon glyphicon-search"></i></a>
            </td>
            <td>
                    {{ processRun.startedAtTime|date('H:i:s.v m-d-Y') }} (<strong>Started</strong>)
                    <br>{{ processRun.endedAtTime|date('H:i:s.v m-d-Y') }} (<strong>End</strong>)
            </td> 
            <td>
                <button class="btn btn-xs copy" data-clipboard-text="{{ processRun.workflowRun.uri }}">
                    <i class="glyphicon glyphicon-copy"></i>
                </button>
                <a href="{{ path("provenance-workflow-run", { 'workflow_run_uri': processRun.workflowRun.uri|url_encode() } )}}" title="Go to workflow run information"><i class="glyphicon glyphicon-search"></i></a>
            </td>                       
        </tr>
    {% else %}
        <tr>
            <td colspan="3">No process run.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}  
{% block javascripts %}   
{% endblock %}
{% block stylesheets %}
{% endblock %} 
