{% extends 'base.html.twig' %}
{% block title %}Process{% endblock %}
{% block body %}
<h1>Process <small><button class="btn btn-xs" data-clipboard-text="{{ process_uri }}">
                        <i class="glyphicon glyphicon-copy"></i>
                    </button></small>
</h1>
                        
<ul>
    <li>Title: {{ process.label.value }}</li>
    <li>Description: {% if 'description' in process %}{{ process.description }}{% endif %}</li>
</ul>
    <a href="{{ path('workflow-details', { 'workflow': process.workflow.value }) }}" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-arrow-left"> Workflow</i></a>
{% if 'subworkflow' in process %}
    <a href="{{ path('workflow-details', { 'workflow': process.subworkflow.value }) }}" class="btn btn-sm btn-info">Subworkflow <i class="glyphicon glyphicon-arrow-right"></i></a>
{% endif %}
<h2>Inputs</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
    {% for row in process_inputs %}
        <tr>
            <td>{{ row.label.value }}</a></td>
            <td>{% if 'description' in row %}{{ row.description.value }}{% endif %}</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">No input.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
    
<h2>Outputs</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
    {% for row in process_outputs %}
        <tr>
            <td>{{ row.label }}</a></td>
            <td>{% if 'description' in row %}{{ row.description }}{% endif %}</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">No output.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}  
{% block javascripts %}   
    <script type="text/javascript">
    </script>
{% endblock %}
{% block stylesheets %}
{% endblock %} 
