{% extends 'base.html.twig' %}
{% block title %}Process{% endblock %}
{% block body %}
<h1>Workflow
        <small>
            <button class="btn btn-xs" data-clipboard-text="{{ workflow.uri }}">
                <i class="glyphicon glyphicon-copy"></i>
            </button>
        </small>
    </h1>
    <ul>
        <li><strong>Title:</strong> {{ workflow.title }}</li>
        <li><strong>Creator:</strong> {{ workflow.creator }}</li>
        <li><strong>Description:</strong> {{ workflow.description }}</li>
        <li><strong>Label:</strong> {{ workflow.label }}</li>
    </ul>
    <a href="{{ path('workflow-details', { 'workflow_uri': process.workflow.uri|url_encode() }) }}" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-arrow-left"> Workflow</i></a>
{% if 'subworkflow' in process %}
    <a href="{{ path('workflow-details', { 'workflow_uri': process.subworkflow.uri|url_encode() }) }}" class="btn btn-sm btn-info">Subworkflow <i class="glyphicon glyphicon-arrow-right"></i></a>
{% endif %}

<h2>Process 
        <small><button class="btn btn-xs" data-clipboard-text="{{ process.uri }}">
            <i class="glyphicon glyphicon-copy"></i>
        </button></small>
</h2>
                        
<ul>
    <li>Label: {{ process.label }}</li>
    <li>Description: {{ process.description }}</li>
</ul>
    
<h2>Inputs</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
    {% for row in process_inputs %}
        <tr>
            <td>{{ row.label }}</a></td>
            <td>{% if 'description' in row %}{{ row.description }}{% endif %}</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">No input.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
    
<h2>Outputs</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
    {% for row in process_outputs %}
        <tr>
            <td>{{ row.label }}</a></td>
            <td>{% if 'description' in row %}{{ row.description }}{% endif %}</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">No output.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}  
{% block javascripts %}   
{% endblock %}
{% block stylesheets %}
{% endblock %} 
