    <h1>Workflow
        <small>
            <div class="btn-group">
                <button class="btn btn-xs copy" data-clipboard-text="{{ workflow.uri }}">
                    <i class="glyphicon glyphicon-copy"></i>
                </button>
            
                <a href="{{ path('workflow-details', { 'workflow_uri': workflow.uri|url_encode() }) }}" class="btn btn-xs" title="Go to workflow"><i class="glyphicon glyphicon-search"></i></a>
                <a href="{{ path('element-quality-dimension-annotation-list', { 'element_uri':workflow.uri|url_encode(), 'type':'workflow' }) }}" class="btn btn-xs" title="Go to Quality Annotations"><i class="glyphicon glyphicon-pencil"></i></a>
            </div>
        </small>
        
    </h1>
    <ul>
        <li><strong>Title:</strong> {{ workflow.title }}</li>
        <li><strong>Creator:</strong> {{ workflow.creator }}</li>
        <li><strong>Description:</strong> {{ workflow.description }}</li>
        <li><strong>Label:</strong> {{ workflow.label }}</li>
    </ul>
    {% if workflow.scriptConversion %}
        <a class="btn btn-info" href="{{ path("script-converter-details", {'hash': workflow.hash }) }}"><i class="glyphicon glyphicon-search"></i> Script Conversion</a>
    {% endif %}