{% extends 'base.html.twig' %}
{% block title %}Workflows Run{% endblock %}
{% block body %}
    <h1>Workflow 
        <small>
            <button class="btn btn-xs" data-clipboard-text="{{ workflow_uri }}">
                <i class="glyphicon glyphicon-copy"></i>
            </button>
        </small>
    </h1>
<h2>Processes</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Process</th>
                <th>Description</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
    {% for row in processes %}
        <tr>
            <td>{{ row.label.value }}</td>
            <td>{% if 'description' in row %}{{ row.description.value }}{% endif %}</td>
            <td>
                <a href="{{ path('workflow-process', { 'process': row.process.value|url_encode }) }}"><i class="glyphicon glyphicon-search"></i></a>
                <a href="{{ path('annotatation-form', { 'artefact':'process', 'uri': row.process.value|url_encode }) }}"><i class="glyphicon glyphicon-plus-sign"></i></a>
                <a href="{{ path('annotatation-list', { 'artefact':'process', 'uri': row.process.value|url_encode }) }}"><i class="glyphicon glyphicon glyphicon-list-alt"></i></a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

<h2>Inputs</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
    {% for row in inputs %}
        <tr>
            <td>{{ row.label.value }}</a></td>
            <td>{% if 'description' in row %}{{ row.description.value }}{% endif %}</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">No input.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
    
<h2>Outputs</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
    {% for row in outputs %}
        <tr>
            <td>{{ row.label.value }}</a></td>
            <td>{% if 'description' in row %}{{ row.description.value }}{% endif %}</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">No output.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% if workflow %}
<img src="{{ asset('uploads/documents/{{ workflow.id }}.png')}}">
{% endif %}

{% endblock %}  
{% block javascripts %}            
{% endblock %}
{% block stylesheets %}
{% endblock %} 
